$black: #000000;
$white: #ffffff;
$primary-color:#00a3e0;
$secondary-color:#006099; 
$font-color:#5b6770;
$footer-bg:#d1d5d6;
$scroll-btn-bg:#9ea5ab;
$menu-btn-bg:#494B55;
$submenu-bg:#dbf2fb;
/*border color*/
$header-border:#93989e;
$content-border:#95b5ce;
$text-box-border:#d6d8d7;
$mobile-menu-border:#cccccc;
$submenu-border:#afd4e7;
$submenu-left-border:#99daf3;
$border-color: #7c878e;