$primary-color: #281a6c;
$light-blue:#0f2885;
$white: #ffffff;
$gray: #f2f2f2;
$black: #000000;
$blue: #321e92;
$yellow: #ffdc00;
$light_pink:#ffefe5;
$light_gray:#ebebeb;
$red:#ff000b;
$light_gray_1:#e1e1e1;
