//base color
$black: #000000;
$white: #ffffff;

//site color
$primary-color: #00002b; //purple
$secondary-color: #08a2ff;//blue

$purple-shade1:#00003e;

$blue-shade1:#0476ba;
$blue-shade2:#0084d4;
$blue-shade3:#56c1ff;

$pink-color : #e0008a;
$red-color : #f60000;
$orange-color : #f65600;

$green-color : #03b415;
$green-shade1 : #13e328;

$gray-shade1: #b4bbcc;
$gray-shade2: #eceef1;
$gray-shade3: #f4f6fa;
$gray-shade4: #6e7688;
$gray-shade5: #596473;

$red-shade1: #d0021b;

$yellow-shade1: #f5a623;