h1,h2,h3,h4,h5,h6{
	font-family: $secondary-font;
	color: $primary-color;
}

.page-title{
	h1{
		@include rem-fallback(font-size, 32);
		@include rem-fallback(line-height, 36);
		letter-spacing: -0.7px;
		font-weight: 800;
		@include transition(all 0.4s);
		span{
			display: inline-block;
			font-weight: 400;
		}
	}
}